<html>
    <head>
        <title>チャット</title>
        <style>
            input {display: block;}
            ul {list-style: none;}
        </style>
    </head>
    <body>
        <ul id="messages"></ul>
        Websocketを使ったチャットアプリケーション
        <form id="chatbox">
        <textarea></textarea>
        <input type="submit" value="送信" />
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
        </script>
        <script>
            $(function(){
                var socket = null;
                var msgBox = $("#chatbox textarea");
                var messages = $("#messages");
                $("#chatbox").submit(function(){  //送信をクリックするとsubmit関数がsocket.sendによってメッセージがサーバーに送信される
                    if(!msgBox.val()) return false;
                    if(!socket) {
                        alert("エラー: WebSocket接続が行われていない");
                        return false;
                    }
                    socket.send(msgBox.val());
                    msgBox.val("");
                    return false;
                });
                if(!window["WebSocket"]) {
                    alert("エラー: WebSocketに対応していないブラウザ");
                } else {
                    //socket = new WebSocket("ws://localhost:8080/room"); 
                    socket = new WebSocket("ws://{{.Host}}/room") //WebSocket接続開始 で囲まれた部分はアノテーション(注釈)を表す アノテーションをr.Host(rはExecuteに渡された引数)の値で置き換える
                    //二つのハンドラoncliseとonmessage
                    socket.onclose = function() {
                        alert("接続終了");
                    }
                    socket.onmessage = function(e) {
                        messages.append($("<li>").text(e.data));
                    }
                }
            });
        </script>
    </body>
</html>